.parecer {
    background-color:hsla(234, 100%, 50%, 0.75);
    text-align: center;
    border-color: hsl(234, 100%, 50%);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    margin-top: 10px; 
}

.parecerTabela {
    background-color: white;
    color: gray;
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    margin: 2%;
}

